/.DS_Store
/.venv
/Feuilles de jeu
/__pycache__
/dcdl
/get-pip.py
/mots_par_nombre.xlsx
/newFeuilleDeJeu v2.py
/newFeuilleDeJeu.py
/scriptAnki.py
/scriptCarte.py
/scriptMots.py
/seleniumClax.py
/seleniumClubdcdl.py
/txt_exports
*.pptx
.venv/
